@tailwind base;
@tailwind components;
@tailwind utilities;

.medialist {
  /* display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* justify-content: space-between; */
  /* place-items: center; */
}

.trendingList {
  max-width: calc(100vw - 40px);
}

@media only screen and (min-width: 1024px) {
  .medialist {
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px; */
    gap: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .medialist {
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
    /* grid-gap: 30px; */
    /* place-items: start; */
    gap: 30px;
  }
  .trendingList {
    max-width: calc(100vw - 220px);
  }
}

@media only screen and (max-width: 374px) {
  .medialist {
    display: grid;
    grid-template-columns: repeat(1fr);
    /* grid-gap: 30px; */
    place-items: center;
    gap: 30px;
  }
}

/* Spin the sharingan icon */

.rotateOnHover {
  transition: transform 0.65s cubic-bezier(0.25, 0.1, 0.25, 0.7); /* Smooth transition with cubic bezier */
}

.rotateOnHover:hover {
  transform: rotate(720deg); /* Rotate by 360 degrees on hover */
}
