@tailwind base;
@tailwind components;
@tailwind utilities;

.medialist {
  /* display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* justify-content: space-between; */
  /* place-items: center; */
}

.trendingList {
  max-width: calc(100vw - 40px);
}

@media only screen and (min-width: 1024px) {
  .medialist {
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px; */
    gap: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .medialist {
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
    /* grid-gap: 30px; */
    /* place-items: start; */
    gap: 30px;
  }
  .trendingList {
    max-width: calc(100vw - 220px);
  }
}
